<mat-selection-list class="selection-list">

  @for (move of moves; track move.Id)
  {
    @if (move.Type != previousType)
    {
      <div mat-subheader class="mat-subheader"> {{ move.Type }}</div>
      <mat-divider></mat-divider>

      {{ updatePreviousType(move.Type) }}
    }

    <mat-list-item>
      <div matListItemIcon class="mat-list-item-icon"> {{ move.Id }} </div>
      <div matListItemTitle class="mat-list-item-title"> {{ move.Name }} </div>

      <div matListItemLine class="mat-list-item-line">
        {{ parseDescription(move.Description) }}

        @for (part of parsedDescription; track part.text)
        {
          @if (part.moveSequence)
          {
            {{ parseMoveSequence(part.text) }}

            @for (input of moveSequence; track input)
            {
              <mat-icon svgIcon={{input}} class="move-icon"></mat-icon>
            }
          }
          @else
          {
            {{ part.text }}
          }
        }
      </div>
    </mat-list-item>
  }

</mat-selection-list>
