<mat-action-list class="selection-list">

  @for (move of moves; track move.Id)
  {
    @if (move.Type != previousType)
    {
      <div mat-subheader class="mat-subheader"> {{ move.Type }}</div>
      <mat-divider></mat-divider>

      {{ updatePreviousType(move.Type) }}
    }

    <div class="custom-list-item" matRipple>

      <div class="move-id"> {{ move.Id }} </div>

      <div class="move-name-and-description">

        <div class="move-name"> {{ move.Name }} </div>

        <div class="move-description">
          {{ parseDescription(move.Description) }}

          @for (part of parsedDescription; track part.id)
          {
            @if (part.moveSequence)
            {
              {{ parseMoveSequence(part.text) }}

              @for (input of moveSequence; track input.id)
              {
                <mat-icon svgIcon={{input.value}} class="move-icon"></mat-icon>
              }
            }
            @else
            {
              {{ part.text }}
            }
          }
        </div>
      </div>

      <div class="move-properties-section">
        <div class="move-properties">
          {{ parseMoveProperties(move.Properties) }}

          @for (property of moveProperties; track property)
          {
            <mat-icon svgIcon="{{property}}" class="property-icon"></mat-icon>
          }
        </div>
      </div>

    </div>
  }

</mat-action-list>
