.custom-list-item {
  height: auto;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat-subheader {
  padding-top: 60px;
  font-size: x-large;
  color: blueviolet;
}

.move-id {
  text-align: center;
  font-size: x-large;
  color: dimgray;
  padding-left: 4px;
  min-width: 52px;
  padding-right: 10px;
}

.move-name-and-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 8px;
}

.move-name {
  padding-top: 8px;
  font-size: medium;
  color: black;
}

.move-description {
  color: #228B22;
  font-size: medium;
  padding-top: 4px;
  line-height: 1.6;
}

.move-icon {
  position: relative;
  top: 3px;
  transform: scale(1.4);
  margin-left: 2px;
  margin-right: 2px;
}

.move-properties-section {
  min-width: 48px;
  height: 100%;
  margin-bottom: auto;
  padding-top: 16px;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.move-properties {
  display: flex;
  padding-right: 14px;
}

.property-icon {
  transform: scale(1.4);
  position: relative;
  margin-left: 8px;
}
