.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-subheader {
  padding-top: 40px;
}

.move-icon {
  position: relative;
  top: 3px;
  transform: scale(1.2);
}

.mat-list-item-icon {
  text-align: center;
}

.mat-list-item-title {
}

.mat-list-item-line {
  padding-top: 5px;
}

