<mat-toolbar class="header">

  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <img ngSrc="assets/images/profiles/{{this.characterName}}.png" class="character-header-image" height="55" width=140 alt="Character profile picture" priority>
  <span class="character-name">{{this.characterName}}</span>

  <a href="https://github.com/Sei-Jin/MoveList">
    <button mat-icon-button aria-label="Link to project github">
      <mat-icon svgIcon="github-mark">Github</mat-icon>
    </button>
  </a>

</mat-toolbar>




<mat-sidenav-container hasBackdrop="true" class="sidenav-container" >

  <mat-sidenav #sidenav class="sidenav" mode="over" fixedInViewport="true" [autoFocus]="false">
    <app-sidenav-buttons></app-sidenav-buttons>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

