.move-list-text {
  margin: auto;
}

.sidenav-container
{
  width: 240px;
  height: auto;
}

.page-body
{
  padding-top: 40px;
  margin: auto;
  padding-bottom: 80px;
}

@media screen and (min-width: 1401px)
{
  .page-body
  {
    width: 60%;
  }
}

@media screen and (max-width: 1400px)
{
  .page-body
  {
    width: 80%;
  }
}

@media screen and (max-width: 800px)
{
  .page-body
  {
    width: 95%;
  }
}
