.header
{
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;

  /* Make the header appear on top of any other components */
  z-index: 100;
}

.move-list-text
{
  margin: auto;
}

.sidenav
{
  width: 240px;
  height: auto;
  margin-top: 56px;
}

.page-body
{
  padding-top: 80px;
  margin: auto;
  padding-bottom: 80px;
}

@media screen and (min-width: 1401px)
{
  .page-body
  {
    width: 60%;
  }
}

@media screen and (max-width: 1400px)
{
  .page-body
  {
    width: 80%;
  }
}

@media screen and (max-width: 800px)
{
  .page-body
  {
    width: 95%;
  }
}
