.sidenav-container {
  background-color: white;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;

  /* Make the header appear on top of any other components */
  z-index: 100;

  background: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.character-header-image
{
  margin-left: 10px;
  mask-image: linear-gradient(to right, transparent, white 30%, white 70%, transparent);
}

.character-name
{
  margin-left: 8px;
  font-size: x-large;
  margin-right: auto;
  color: #333333;
}

.sidenav
{
  width: 280px;
  height: auto;
  margin-top: 56px;
  padding-bottom: 24px;
}

.page-body
{
  height: calc(100vh - 56px);
  margin-top: 56px;
  overflow-y: auto;
}
