<mat-toolbar class="header">

  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="move-list-text">Move List</span>

  <a href="https://github.com/Sei-Jin/MoveList">
    <button mat-icon-button aria-label="Link to project github">
      <mat-icon svgIcon="github-mark">Github</mat-icon>
    </button>
  </a>

</mat-toolbar>




<mat-sidenav-container hasBackdrop="false" class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" mode="over" fixedInViewport="true">
    <app-sidenav-buttons></app-sidenav-buttons>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

